<html>
  <head>
    <!-- Title and CSS for Project -->
    <title><%= title %></title>
    <link rel="styleSheet" href="/css/layout.css">
    <link rel="styleSheet" href="/css/project.css">
    <link rel="styleSheet" href="/css/issue.css">
    <%- style %>
  </head>
  <body>
    <!-- Including header using include of ejs -->
    <%- include('_header'); %>
    <%- body %>
    <%- script %>
  </body>
</html>
